.codeweek-code-hunting-map-card{
  display: flex;
  .left{
    display: flex;
    flex-direction: column;
    img{
      border-radius: 15px;
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    .links{
      display: flex;
      flex-direction: column;
      align-items: center;
      .link{
        padding: 5px;
      }
    }
  }
  .center{
    margin: 0 10px;
    flex:1;
    .title{
      font-size: 18px;
      font-weight: bold;
    }
    .description{
      line-height: 1.5;
      margin-top: 5px;
    }
    .link{
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .qrcode{
    width: 150px;
  }
}