#codeweek-hackathons-before-page .questions {
  display: flex;
  padding: 30px 40px;
  color: $main-color3;
  flex-direction: column;
  .left-wrapper{
    display: flex;
  }
  h1 {
    font-weight: normal;
  }
  .expect {
    flex: 1;
    border-right: 2px solid #1237FF;
  }
  .bring {
    flex: 1;
    padding-left: 40px;
  }
  .provide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    h1 {
      padding-left: 50px;
    }
  }
  ul {
    list-style: none;
    list-style-image: url('/images/tick.svg');
    margin: 10px;
    li {
      margin-bottom: 3px;
      font-size: 18px;
    }
  }
}

@media (min-width:961px)  {
  #codeweek-hackathons-before-page .questions {
    padding: 50px 20px 50px 70px;
    flex-direction: row;
    .expect {
      margin-right: 70px;
    }
    .bring {
      padding-left: 0;
      padding-right: 40px;
      border-right: 2px solid #1237FF;
    }
    .provide {
      padding-top: 0;
    }
  }
}
