#codeweek-login-page .codeweek-content-wrapper-inside{
  display: flex;
  flex-direction: column;
}
#codeweek-login-page .codeweek-content-wrapper-inside .social-media-buttons{
  order: 3;
  display: flex;
  flex-direction: column;
}
#codeweek-login-page .codeweek-content-wrapper-inside .social-media-buttons .codeweek-action-link-button{
  text-transform: none;
}
#codeweek-login-page .login-form{
  flex:1;
  margin-left: 10px;
  margin-top: 30px;
  order: 1;
}
#codeweek-login-page .codeweek-form-field{
  flex-direction: column;
  align-items: flex-start;
}
#codeweek-login-page .codeweek-form-field-checkbox{
  text-transform: uppercase;
  justify-content: flex-start;
}
#codeweek-login-page .codeweek-form-field input{
  min-height:57px;
}
#codeweek-login-page .codeweek-form-field label{
  width: auto;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
}
#codeweek-login-page .codeweek-button{
  display:flex;
  flex:1;
}
#codeweek-login-page .codeweek-button input{
  flex:1;
}

#codeweek-login-page .separator{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
  order: 2;
  gap: 10px;
}

#codeweek-login-page .separator .line{
  border-top: 1px solid #ccc;
  flex: 1;
}

#codeweek-login-page .separator .text{
  padding: 20px 0;
  font-size: 22px;
}


#codeweek-login-page .social-media-buttons .codeweek-action-link-button{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: normal;
  height: 80px;
}
#codeweek-login-page .social-media-buttons .codeweek-action-link-button svg,
#codeweek-login-page .social-media-buttons .codeweek-action-link-button img{
  height: 50px;
  fill: white;
  margin-right: 30px;
  border-right: 1px solid;
  padding-right: 10px;
}

#codeweek-login-page .social-media-buttons .codeweek-action-link-button.github{
  background-color: #8f7ba1;
}
#codeweek-login-page .social-media-buttons .codeweek-action-link-button.twitter{
  background-color: #000000;
}
#codeweek-login-page .social-media-buttons .codeweek-action-link-button.facebook{
  background-color: #4267b2;
}
#codeweek-login-page .social-media-buttons .codeweek-action-link-button.google{
  background-color: #db3236;
}
#codeweek-login-page .social-media-buttons .codeweek-action-link-button.azure{
  background-color: #0072c6;
}

#codeweek-login-page .login-other-actions{
  display: flex;
  margin-top: 60px;
  font-size: 14px;
  height: 30px;
}

#codeweek-login-page .login-other-actions .forgot-password{
  margin-right: 20px;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}
#codeweek-login-page .login-other-actions .forgot-password,
#codeweek-login-page .login-other-actions .sign-up{
  display: flex;
  align-items: center;
}

@media (min-width: 1200px) {
  #codeweek-login-page .codeweek-content-wrapper-inside{
    display: flex;
    flex-direction: row;
  }
  #codeweek-login-page .codeweek-content-wrapper-inside .social-media-buttons{
    order: 1;
  }
  #codeweek-login-page .separator{
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    gap: 0;
  }
  #codeweek-login-page .login-form{
    order: 3;
  }
  #codeweek-login-page .separator .line{
    border-right: 1px solid #ccc;
    flex: 1;
  }
}

.help-block .errorlist {
  margin: 0;
}


.reset_title {
  color: var(--Dark-Blue-500, #1C4DA1);

  /* Display md/Montserrat Medium */
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.72px;
  padding-bottom: 40px;
}
.reset_description {
  color: var(--Slate-500, #333E48);

  /* Text xl/Blinker Regular */
  font-family: Blinker;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  padding-bottom: 40px;
}

.codeweek-form-field input, .codeweek-form-field-wrapper input {
  padding-left: 1rem;
  padding-right: 1rem;
}

#codeweek-login-page .codeweek-form-field{
  flex-direction: column;
  align-items: flex-start;
}

#codeweek-forgotpassword-page .codeweek-form-field, .codeweek-form-field-searchable {
  display: flex;
  justify-content: stretch;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
}
.codeweek-form-field-add {  
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1080px) {
  .reset_title {
    color: var(--Dark-Blue-500, #1C4DA1);
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.72px;
    display: flex;
    padding-bottom: 24px;
  }

  .reset_description {
    font-family: Blinker;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    padding-bottom: 24px;
  }
}

