#codeweek-login-page .codeweek-content-wrapper-inside{
  display: flex;
  flex-direction: row;
}
#codeweek-login-page .codeweek-content-wrapper-inside .social-media-buttons{
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}
#codeweek-login-page .codeweek-content-wrapper-inside .social-media-buttons .codeweek-action-link-button{
  text-transform: none;
}
#codeweek-login-page .login-form{
  flex:1;
  margin-left: 10px;
  margin-top: 30px;
}
#codeweek-login-page .codeweek-form-field{
  flex-direction: column;
  align-items: flex-start;
}
#codeweek-login-page .codeweek-form-field-checkbox{
  text-transform: uppercase;
  justify-content: flex-start;
}

#codeweek-login-page .codeweek-form-field label{
  width: auto;
  text-align: left;
}
#codeweek-login-page .codeweek-button{
  display:flex;
  flex:1;
  align-items: center;
  flex-direction: column;
  padding-top: 24px;
}
#codeweek-login-page .codeweek-button input{
  flex:1;
}

#codeweek-login-page .separator{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

#codeweek-login-page .separator .line{
  border-right: 1px solid #ccc;
  flex: 1;
}

#codeweek-login-page .separator .text{
  padding: 20px 0;
  font-size: 22px;
}


#codeweek-login-page .social-media-buttons .codeweek-action-link-button{
  display: flex;
}

#codeweek-login-page .login-other-actions{
  display: flex;
  font-size: 14px;
  height: 30px;
}

#codeweek-login-page .login-other-actions .forgot-password{
  margin-right: 20px;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}
#codeweek-login-page .login-other-actions .forgot-password,
#codeweek-login-page .login-other-actions .sign-up{
  display: flex;
  align-items: center;
}

#codeweek-login-page {
  background-image: url('/images/header_background.png');
  background-size: cover;
  background-position: center;
  max-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.codeweek-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: left;
  height: 100%;
  padding: 80px 150px;
  margin: 0 !important;
}

.codeweek-content-wrapper-inside {
  width: 760px;
  padding: 64px;
  flex-direction: column !important;
  align-items: left;
  gap: 40px;
  background-color: #fff;
  border-radius: 32px;
}

.login-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #7794C7;
}

.login-tabs .tab {
  padding: 10px;
  cursor: pointer;
  color: var(--Dark-Blue-500, #1C4DA1);
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  width: 50%;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  align-content: center;
  gap: 16px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.separator-line .line {
  height: 1px;
  background-color: #5F718A;
  width: 45%;
}

.separator-line {
  display: flex; 
  justify-content: 
  space-between; 
  align-items: center;
}

.separator-text {
  color: var(--Slate-500, #333E48);
  font-family: Blinker;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.codeweek-form-field-wrapper label {
  font-family: Blinker;
  color: var(--Slate-500, #333E48);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.codeweek-form-field-wrapper input, .codeweek-form-field input {
  padding: 10px;
  width: 100%;
  border-radius: 24px;
  border: 2px solid var(--Dark-Blue-200, #A4B8D9);
  color: var(--Slate-500, #333E48);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: Blinker;
  margin-top: 8px;
}

.errors {
  color: red;
  font-size: 12px;
}

.login-other-actions {
  display: flex;
  flex-direction: row-reverse;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: underline;
  color: var(--Dark-Blue-500, #1C4DA1);
}

.codeweek-form-field-checkbox label {
  color: var(--Slate-500, #333E48);
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: none;
  font-family: Blinker;
}

.codeweek-form-field-checkbox input {
  border-radius: 3px;
  border: 2px solid var(--Dark-Blue-200, #A4B8D9);
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.codeweek-form-button-container {
  display: flex;
  justify-content: center;
}

.codeweek-button input {
  border-radius: 100px;
  background: var(--Orange-500, #F95C22);
  color: var(--Slate-600, #20262C);
  font-family: Blinker;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  gap: 8px;
  line-height: 28px;
  text-transform: capitalize;
}
.codeweek-button {
  max-width: 150px;
}

.login-other-actions a {
  color: var(--Dark-Blue-500, #1C4DA1);
  text-align: right;
  font-family: Blinker;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.form-container {
  display: none;
}

.form-container.active {
  display: block;
}

.hidden {
  display: none;
}

.active-tab {
  font-weight: bold;
  border-bottom: 3px solid #1C4DA1;
}
.reset_title {
  color: var(--Dark-Blue-500, #1C4DA1);

  /* Display md/Montserrat Medium */
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.72px;
}
.reset_description {
  color: var(--Slate-500, #333E48);

  /* Text xl/Blinker Regular */
  font-family: Blinker;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

@media screen and (max-width: 1080px) {
  .reset_title {
  color: var(--Dark-Blue-500, #1C4DA1);
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.72px;
  display: flex;
    }

  .reset_description {
    font-family: Blinker;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }
  .codeweek-content-wrapper {
    padding: 80px 0px;
    align-items: center !important;
  }

  .codeweek-content-wrapper-inside {
    width: 80%;
    padding: 40px 24px 32px 24px;
    flex-direction: column;
    align-items: left;
    gap: 40px;
    background-color: #fff;
    border-radius: 32px;
  }
  .codeweek-form-field {
    display: flex    ;
    justify-content: center;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
  }

  .codeweek-form-field, .codeweek-form-field-searchable {
    display: flex;
    justify-content: stretch;
    flex: 1;
    align-items: flex-start !important;
    flex-direction: column;
  }
  .codeweek-form-field input, .codeweek-form-field-wrapper input {
    padding: 12px 0px;
  }
  .codeweek-button {
    max-width: 100%;
  }

  .codeweek-form-field input {
    flex: 1;
    text-indent: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 24px;
    border: 2px solid var(--Dark-Blue-200, #A4B8D9);
    color: var(--Slate-500, #333E48);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
}