
.codeweek-content-grid-scoreboard{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-left: -50px;
  margin-right: -50px;
}
.scoreboard-card {
  display: flex;
  padding: 60px 25px;
  background-color: #F7E9F0;
}
.scoreboard-card:nth-child(even) {
  background-color: #E7EAE3;
}
.scoreboard-card .image{
  position: relative;
  min-height: 130px;
  min-width: 120px;
}
.scoreboard-card .image .position{
  position: absolute;
  font-size: 25px;
  font-family: $decorative-font;
  top: 15px;
  width: 100%;
  text-align: center;
}
.scoreboard-card .country-data{
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scoreboard-card .country-data .country-name{
  color: $main-color;
  font-size:24px;
  font-family: $decorative-font;
}
.scoreboard-card .country-data .country-name a{
  color: $main-color;
}
.scoreboard-card .country-data .country-name a:hover{
  color: $main-color2;
}
.scoreboard-card .country-data .participating-with{
  font-size:12px;
  font-family: $decorative-font;
}
.scoreboard-card .country-data .number,
.scoreboard-card .country-data .count{
  display: flex;
  align-items: center;
}
.scoreboard-card .country-data .count .digit{
  width:34px;
  height: 50px;
  background-color: #141414;
  color: $main-color4;
  font-size: 24px;
  font-family: $decorative-font;
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scoreboard-card .country-data .number .text{
  margin-left: 10px;
}
.scoreboard-card .country-data .text{
  font-size: 16px;
  font-family: $decorative-font;
}



.scoreboard-first-country{
  display: flex;
  justify-content: center;
}
.scoreboard-card.first{
  background-color: transparent;
}
.scoreboard-card.first .country-data .country-name{
  font-size:40px;
}
.scoreboard-card.first .country-data .participating-with{
  font-size:16px;
}
.scoreboard-card.first .country-data .count .digit{
  width:44px;
  height: 65px;
  font-size: 28px;
}
.scoreboard-card.first .country-data .text{
  font-size: 20px;
}
.scoreboard-card.first .image .position {
  font-size: 35px;
}

/*Media queries*/

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
  .codeweek-content-grid-scoreboard{
    grid-template-columns: 1fr 1fr;
  }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
  .codeweek-content-grid-scoreboard{
    grid-template-columns: 1fr 1fr 1fr;
  }
}