body {
    padding-bottom: 40px;
}

#navigation {
	padding-top: 10px;
}

#main-content {
    padding-right: 20px;
    padding-left: 20px;
}

#search {
	margin-top: 20px;
	margin-bottom: 20px;
}

.errorlist {
	color: red;
	padding-left: 0px;
	margin-top: 0px;
	list-style-type: none;
}

#event label {
	margin-top: 1.5em;
	font-size: 1.1em;
	color: #3D3D3D;
}


