/************************************
* Site specific defined variables
*************************************/
//@import "../lib/bootstrap-sass/stylesheets/bootstrap/variables";
$black:                     #000000;
$slate:                     #515665;
$silver:                    #cccccc;
$steel:                     #aab0bf;
$aluminum:                  #9B9B9B;
$white:                     #ffffff;
$whitesmoke:                #f5f5f5;
$brand-primary:             #428BCA;
$golden:                    #FCD04B;
$bronze:					#cd7f32;
$very-light-gray:			#e8e8e8;
$light-gray:				#dbdbdb;

$dark-blue:					#478ac8;//#198182;
$light-blue:				#386ea0;//lighten(#386ea0, 20%);//#26BCBB;

$primary-color: 			$dark-blue;
$secondary-color:			$light-blue;


// Buttons
$defaultButton:             $silver;
$defaultButtonHover:        darken($defaultButton, 10%);
$primaryButton:             $primary-color;
$primaryButtonHover:        darken($primaryButton, 10%);

//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:                   #fff !default;
//** Global text color on `<body>`.
//$text-color:              $gray-dark !default;

//** Global textual link color.
$link-color:                $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:          darken($link-color, 15%) !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.


$font-family-sans-serif:    "Open Sans", Arial, sans-serif !default;
$font-family-serif:         "Open Sans", serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:     Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:          $font-family-sans-serif !default;

$font-size-base:            14px !default;
$font-size-large:           ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:           ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:              floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:              floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:              ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:              ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:               $font-size-base !default;
$font-size-h6:              ceil(($font-size-base * 0.85)) !default; // ~12px

$primary-font-family: 		"Open Sans", Arial, sans-serif !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:          1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:      "Open Sans", serif !default;
$headings-font-weight:      500 !default;
$headings-line-height:      1.1 !default;
$headings-color:            inherit !default;

//Links
$link-color:                $secondary-color;


$state-danger-text:         #a94442 !default;
$state-danger-bg:           #f2dede !default;
$state-danger-border:       darken(adjust-hue($state-danger-bg, -10), 5%) !default;