/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
bios.sql
public/js/app.js
public/css/app.css
public/mix-manifest.json
public/vendor/nova/*
resources/lang/vendor/*
resources/lang/*.json
resources/latex/texput.log
!app/Nova
auth.json
vue-i18n-locales.generated.js
/storage/debugbar/
/phpunit.xml
/.phpunit.cache
/.phpunit.result.cache
vite.config.js
.DS_Store
resources/excel/example.xlsx
