.codeweek-more-button{
  width: 45px;
  height: 45px;
  border: 1px solid $main-color;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  cursor:pointer;
  margin-top:5px;
}
.codeweek-more-button span{
  background-color: transparent;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-top: -3px;
  color: $main-color;
  font-weight: bold;
}
.codeweek-button input{
  cursor: pointer;
  height: 100%;
  padding: 0 25px;
  border-radius: 29px;
  background-color: $main-color;
  color: $main-color3;
  font-size: 14px;
  font-weight: bold;
  min-height: 57px;
}
.codeweek-button input:hover,
.codeweek-action-button:hover,
.codeweek-action-link-button:hover,
.codeweek-image-button:hover{
  background-color: #f15d22;
}
.codeweek-blank-button{
  border: 1px solid #707070;
  border-radius: 32px;
  color: $main-color3;
  font-size: 20px;
  padding: 20px 40px;
}

.codeweek-orange-button{
  border: 2px solid #c54609;
  border-radius: 16px;
  color: $main-color4;
  background-color: $main-color;
  font-size: 16px;
  padding: 12px 30px;
  margin-left: 4px;
}

.codeweek-svg-button{
  width:35px;
  height: 35px;
  display: flex;
}
.codeweek-svg-button svg{
  width: 100%;
  height: 100%;
}
.codeweek-svg-button svg path{
  fill: $main-color !important
}
.codeweek-svg-button:hover svg path{
  fill: #f15d22 !important
}
.codeweek-expander-button{
  background-color: $main-color;
  color: $main-color4;
  width:40px;
  height:40px;
  padding:0;
  outline: none;
}
.codeweek-expander-button div{
  font-size: 30px;
  font-weight: bold;
  height: 40px;
}
.codeweek-action-button{
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
  background-color: $main-color;
  color: $main-color4;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}

.codeweek-action-link-button{
  cursor: pointer;
  padding: 9px 25px;
  border-radius: 10px;
  background-color: $main-color;
  color: $main-color4;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  min-height: 40px;
  z-index: 10;
}

.codeweek-image-button{
  cursor: pointer;
  padding: 0 15px;
  border-radius: 20px;
  background-color: $main-color;
  color: $main-color4;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  min-height: 40px;
  outline: none;
}
.codeweek-image-button svg path{
  fill: $main-color4 !important;
}

.codeweek-action-button.green{
  background-color: forestgreen;
}

.codeweek-action-link-button.red,
.codeweek-action-button.red{
  background-color: firebrick;
  min-height:10px;
}

.codeweek-action-button.orange{
  background-color: #ff0000;
}


/*Media queries*/

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
  .codeweek-button input{
    font-size: 20px;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
}
