.codeweek-view-calendar .month{
  font-size: 18px;
  color: #707070;
  font-family: "Helvetica";
  text-align: center;
  text-transform: capitalize;

  th {
    font-weight: normal;
    font-family: $body-font-family;
    color: #000;
    font-size: 20px;
  }
  
  .filled{
    background-color: #FFEEE6;
  }
}

@media (max-width:600px)  {
  .codeweek-view-calendar{
    display:none;
  }
}