.codeweek-tools{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 0 35px 0;
}
.codeweek-question-container{
  display:flex;
  flex-direction:column;
  padding: 30px 20px 0 20px;
}

.codeweek-question-container .container-expansible.expanded{
  display: inherit;
}
.codeweek-question-container .container-expansible.collapsed{
  display: none;
}

.codeweek-question-container .expander-always-visible,
.codeweek-question-container .container-expansible{
  display: flex;
  width:100%;
}

.codeweek-question-container .expander-always-visible{
  margin-bottom: 30px;
}

.codeweek-question-container .expansion {
  min-width: 40px;
  margin-right: 70px;
  display: none;
}

.codeweek-question-container .container-expansible .expansion{
  justify-content: center;
  margin-bottom: -40px;
  z-index: 1;
  display: none;
}

.codeweek-question-container .container-expansible .expansion .expansion-path{
  border-width: 1px;
  border-color: $main-color;
  border-style: dashed;
  margin-top: -40px;
}

.codeweek-question-container h2{
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

.codeweek-question-container p{
  padding: 15px 0;
}

.codeweek-question-container .container-expansible .content{
  margin-bottom: 50px;
}

.codeweek-question-container .container-expansible .content .button{
  margin-top: 40px;
  text-align: center;
}

.codeweek-question-container .container-expansible .content .map {
  width: 100%;
  height: 400px;
  border: 0;
}
.codeweek-content-wrapper{
  width: auto;
  margin: 25px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.codeweek-content-wrapper-inside{
  margin: 0;
}

.codeweek-content-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.codeweek-content-grid .codeweek-card-grid{
  background-color: #F2F2F8;
}

.codeweek-content-grid .title{
  font-size: 20px;
  font-weight: bold;
  color: $main-color;
  padding: 20px;
}

.codeweek-content-grid .author{
  color: $main-color;
  padding: 20px;
}

.codeweek-youtube-container iframe{
  width: 100%;
  border:none;
  height: 500px;
}

.codeweek-content-header{
  margin: 0 10px 0 10px;
  h1 {
    & + p {
      padding-top: 10px;
    }
  }
}




.codeweek-cookie-consent-banner {
  padding: 20px 50px;
  border-bottom: 1px solid #e8e8e8;
}

.codeweek-cookie-consent-banner .actions {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.codeweek-blue-box{
  background-color: $category-background5;
  padding: 20px 20px;
}

.community_type{
  display:flex;
  flex-direction: column-reverse;
  .text{
    flex:2;
    p {
      line-height: 30px;
      text-align: justify;
    }
  }
  .image{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    img{

    }
  }
}

.community_type_section{
  padding: 20px;
}

/*Media queries*/

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
  .codeweek-content-wrapper{
    margin: 40px 60px 0 60px;
  }
  .codeweek-content-header {
    margin: 0 60px 0 60px;
  }
  .codeweek-content-wrapper-inside{
    margin: 5px 55px;
  }
  .codeweek-question-container{
    padding: 40px 50px 0 50px;
  }
  .codeweek-question-container .expansion {
    display: flex;
  }
  .codeweek-question-container .container-expansible .expansion{
    display: flex;
  }
  .codeweek-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .hackathons-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
  .codeweek-content-wrapper{
    margin: 50px 100px 0 100px;
  }
  .codeweek-content-header {
    margin: 0px 100px 0 100px;
  }
  .codeweek-content-wrapper-inside{
    margin: 15px 115px;
  }
  .community_type {
    flex-direction: row;
  }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  .codeweek-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  .hackathons-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
  .codeweek-question-container{
    padding: 40px 230px 0 100px;
  }
}

.hackathons-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.hackathons-content-grid .codeweek-card-grid{
  background-color: #F2F2F8;
}

.hackathons-content-grid .title{
  font-size: 20px;
  font-weight: bold;
  color: $main-color;
  padding: 20px;
}

.hackathons-content-grid .author{
  color: $main-color;
  padding: 20px;
}