.custom-geo-input {
  input {
    width: 100%;
    border: 2px solid #a4b8d9;
    border-radius: 24px;
    height: 48px;
    font-size: 20px;
    line-height: 28px;
    padding: 0 16px;
    color: #20262C;
  }
}

.multiselect.multi-select {

  &.multiselect--active {
    .multiselect--values {
      display: none;
    }
  }
  .multiselect--values {
    line-height: 21px;
  }

  .multiselect__tags{
    cursor: pointer;
    border-radius: 24px;
    min-height: 46px;
    border: 2px solid #A4B8D9;
    padding: 12px 40px  12px 24px;
    overflow: hidden;

    .multiselect__input {
      margin: 0;
      padding: 0;
    }
  }
  .multiselect__select {
    width: 44px;
    height: 100%;
  }
  .multiselect__placeholder,
  .multiselect__tags .multiselect__single{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #20262C;
  }
  .multiselect__placeholder {
    max-width: 100%;
    color: #9ca3af;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
  }

  .multiselect__single {
    padding-top: 6px;
    color: #333E48;
  }
  .multiselect__select:before {
    content: ' ';
    position: absolute;
    top: 18px;
    right: 14px;
    display: block;
    height: 8px;
    width: 8px;
    border: none;
    border-left: 2px solid #1C4DA1;
    transform: rotate(45deg) !important;
  }
  .multiselect__select:after {
    content: ' ';
    position: absolute;
    top: 18px;
    right: 19px;
    display: block;
    height: 8px;
    width: 8px;
    border: none;
    border-left: 2px solid #1C4DA1;
    transform: rotate(-45deg);
  }
  .multiselect__tags-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0;
    .multiselect__tag {
      margin: 0;
    }
  }

  &.new-theme {
    .multiselect__placeholder,
    .multiselect__single{
      font-size: 20px;
      line-height: 24px;
    }
    .multiselect__placeholder {
      line-height: 24px;
    }
    .multiselect__tags{
      padding: 9px 40px 9px 16px;
      min-height: 48px;
    }
    .multiselect__input {
      line-height: 24px;
    }
    .multiselect__placeholder {
      display: block;
    }
    .multiselect__tags {
      border-radius: 24px !important;
    }

    .multiselect__content-wrapper {
      border: 2px solid #ADB2B6;
      border-radius: 12px;
    }

    &.multiple .multiselect__content-wrapper {
      overflow: hidden;
      padding: 16px 12px 16px 0;

      .multiselect__content {
        min-height: 1px;
        max-height: calc(300px - 32px);
        overflow: auto;

        &::-webkit-scrollbar {
          border-radius: 6px;
          width: 12px;
          display: block;
        }

        &::-webkit-scrollbar-track {
            background: #E8EDF6;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: #1C4DA1;
            border-radius: 6px;
        }
      }
    }

    .multiselect__option {
      padding-left: 24px;
      font-size: 20px;
      &.multiselect__option--highlight {
        background-color: #eee;
        color: #20262C;
      }
      &.multiselect__option--selected {
        background-color: transparent;
        &:hover {
          background-color: #eee;
        }
      }
      &:after {
        display: none;
      }
    }
  }
}

.multiselect .multiselect__tags{
  border-radius: 29px;
  min-height: 57px;
}
.multiselect .multiselect__select{
  width: 60px;
  height: 54px;
}
.multiselect .multiselect__placeholder,
.multiselect .multiselect__single{
  padding-top: 5px;
  padding-left: 12px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: $main-color;
}
.multiselect .multiselect__single {
  padding-top: 6px;
}
.multiselect .multiselect__select:before {
  border-color: $main-color transparent transparent;
}
.multiselect .multiselect__tags-wrap{
  display: inline-table;
  padding: 5px 0 5px 10px;
}
.codeweek-search-text{
  flex:1;
  margin-right: 10px;
}

.codeweek-search-text input{
  width:100%;
  border-radius: 29px;
  height:57px;
  text-indent: 20px;
  font-size: 18px;
  font-style: italic;
  border:1px solid #e8e8e8;
}


.codeweek-input-select {
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: $font-family-sans-serif;
  color: $main-color4;
  line-height: 1.3;
  padding: .6em 1.8em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 29px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $main-color4;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, $main-color 0%,$main-color 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.codeweek-input-select::-ms-expand {
  display: none;
}
.codeweek-input-select:hover {
  border-color: #888;
}
.codeweek-input-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}
.codeweek-input-select option {
  font-weight:normal;
  color: $main-color3;
}

.codeweek-form {
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
  padding-top: 20px;

  p:first-child {
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $main-color;
    margin-top: -15px;
  }
}

.codeweek-form-inner-two-columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width:100%;
}

.codeweek-form-inner-container{
  display: flex;
  flex-direction: column;
  flex:1;
}

.codeweek-form-inner-container:last-child{
  margin-left: 20px;
}

.codeweek-form-field-wrapper{
  margin-bottom: 15px;
}
.codeweek-form-field-wrapper .errors{
  margin-left: 140px;
  font-size: 13px;
  color: red;
}
.codeweek-form-field-wrapper .info {
  margin-left: 140px;
  font-size: 14px;
  color: #40b5d1;
}

.codeweek-form-field-wrapper .errors .errorlist{
  margin: 0;
}

.codeweek-form-field{
  display: flex;
  justify-content: stretch;
  flex:1;
  align-items: center;
}

.codeweek-form-field-searchable{
  display: flex;
  justify-content: stretch;
  flex: 1;
  align-items: center;
}

.codeweek-form-field-searchable.align-flex-start{
  align-items: flex-start;
}

.codeweek-form-field-searchable input {
  flex: 1;
  height: 32px;
  /*border: 1px solid #ffffff;*/
  border-radius: 6px;
  /*text-indent: 20px;*/
  width: 100%;
}

.codeweek-form-field-searchable  label {
  margin-right: 10px;
  text-transform: uppercase;
  width: 120px;
  text-align: right;
}

.codeweek-form-field.align-flex-start{
  align-items: flex-start;
}

.codeweek-form-field input{
  flex: 1;
  height: 57px;
  border: 1px solid #e8e8e8;
  border-radius: 29px;
  text-indent: 20px;
  width: 100%;
}

.codeweek-form-field textarea {
  flex: 1;
  border-radius: 29px;
  border: 1px solid #e8e8e8;
  text-indent: 20px;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  padding-top: 16px;
}

.codeweek-form-field label{
  margin-right: 10px;
  text-transform: uppercase;
  width: 120px;
  text-align: right;
}

.codeweek-form-field.align-flex-start label{
  margin-top: 10px;
}

.codeweek-form .codeweek-input-select {
  flex: 1;
  height: 57px;
  width:auto;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23fe6824%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-position: right 1.8em top 50%, 0 0;
  font-weight: normal;
  border-color: #e8e8e8;
  color: $main-color3;
  text-indent: 2px;
  font-size: 14px;
  box-shadow: none;
  cursor: pointer;
}

.codeweek-form .multiselect-wrapper,
.codeweek-form .datepicker-wrapper,
.codeweek-form .input-tag-wrapper{
  flex:1;
}


.codeweek-form .mx-datepicker .mx-input-icon{
  right: 20px;
}

.codeweek-form .codeweek-form-inner-container h3 {
  margin-bottom: 15px;
}

.codeweek-form .input-tag-wrapper {
  border: 1px solid #e8e8e8;
  border-radius: 29px;
}
.codeweek-form .input-tag-wrapper .vue-input-tag-wrapper {
  padding: 0;
  border: none;
  display: inline-table;
  width: 100%;
  background-color: transparent;
  margin: 10px 25px 0 25px;
  max-width: 90%;
}

.codeweek-form .input-tag-wrapper .vue-input-tag-wrapper input {
  padding: 0;
  margin: 0;
  height: 59px;
  text-indent: 0;
}

.codeweek-form .group-fields{
  flex:1;
}

.codeweek-form-message {
  padding: 30px;
  background-color: #e8e8e8;
  border-radius: 20px;
  margin-top: 20px;
}

.codeweek-form-message .message{
  margin-bottom: 30px;
}

.codeweek-form-message .codeweek-form-field label{
  width: auto;
  text-align: left;
}

.codeweek-form-field-privacy,
.codeweek-form-field-checkbox{
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 20px;
}
.codeweek-form-button-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}


#codeweek-searchpage-component .multiselect .multiselect__tags,
#codeweek-register-page .multiselect .multiselect__tags
 {
  border-radius: 29px;
  min-height: 57px;
}

#codeweek-searchpage-component .multiselect .multiselect__select,
#codeweek-register-page  .multiselect .multiselect__select {
  width: 60px;
  height: 54px;
}

#codeweek-searchpage-component .multiselect .multiselect__placeholder,
#codeweek-searchpage-component .multiselect .multiselect__single,
#codeweek-register-page .multiselect .multiselect__placeholder,
#codeweek-register-page .multiselect .multiselect__single {
  padding-top: 5px;
  padding-left: 12px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: $main-color;
}

#codeweek-searchpage-component .multiselect .multiselect__single,
#codeweek-register-page .multiselect .multiselect__single {
  padding-top: 6px;
}

#codeweek-searchpage-component .multiselect .multiselect__select:before,
#codeweek-register-page .multiselect .multiselect__select:before {
  border-color: $main-color transparent transparent;
}

#codeweek-searchpage-component .multiselect .multiselect__tags-wrap,
#codeweek-register-page .multiselect .multiselect__tags-wrap {
  display: inline-table;
  padding: 5px 0 5px 10px;
}

#codeweek-searchpage-component .codeweek-search-text,
#codeweek-register-page .codeweek-search-text {
  flex: 1;
  margin-right: 10px;
}

#codeweek-searchpage-component .codeweek-search-text input,
#codeweek-register-page .codeweek-search-text input {
  width: 100%;
  border-radius: 29px;
  height: 57px;
  text-indent: 20px;
  font-size: 18px;
  font-style: italic;
  border: 1px solid #e8e8e8;
}

#codeweek-searchpage-component .codeweek-input-select,
#codeweek-register-page .codeweek-input-select {
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: $font-family-sans-serif;
  color: $main-color4;
  line-height: 1.3;
  padding: .6em 1.8em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: 29px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $main-color4;
  background-image: url('data:image/svg+xml;charset=US-ASCII, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, $main-color 0%, $main-color 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

#codeweek-searchpage-component .codeweek-input-select::-ms-expand,
#codeweek-register-page .codeweek-input-select::-ms-expand {
  display: none;
}

#codeweek-searchpage-component .codeweek-input-select:hover,
#codeweek-register-page .codeweek-input-select:hover {
  border-color: #888;
}

#codeweek-searchpage-component .codeweek-input-select:focus,
#codeweek-register-page .codeweek-input-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

#codeweek-searchpage-component .codeweek-input-select option,
#codeweek-register-page .codeweek-input-select option {
  font-weight: normal;
  color: $main-color3;
}

#codeweek-searchpage-component .codeweek-form,
#codeweek-register-page .codeweek-form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
  padding-top: 20px;

  p:first-child {
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $main-color;
    margin-top: -15px;
  }
}

.codeweek-form-inner-two-columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.codeweek-form-inner-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.codeweek-form-inner-container:last-child {
  margin-left: 20px;
}

.codeweek-form-field-wrapper {
  margin-bottom: 15px;
}

.codeweek-form-field-wrapper .errors {
  margin-left: 140px;
  font-size: 13px;
  color: red;
}

#codeweek-searchpage-component .codeweek-form-field-wrapper .info {
  margin-left: 140px;
  font-size: 14px;
  color: #40b5d1;
}

#codeweek-searchpage-component .codeweek-form-field-wrapper .errors .errorlist {
  margin: 0;
}

#codeweek-searchpage-component .codeweek-form-field {
  display: flex;
  justify-content: stretch;
  flex: 1;
  align-items: center;
}

#codeweek-searchpage-component .codeweek-form-field-searchable {
  display: flex;
  justify-content: stretch;
  flex: 1;
  align-items: center;
}

#codeweek-searchpage-component .codeweek-form-field-searchable.align-flex-start {
  align-items: flex-start;
}

#codeweek-searchpage-component .codeweek-form-field-searchable input {
  flex: 1;
  height: 32px;
  border-radius: 6px;
  width: 100%;
}

#codeweek-searchpage-component .codeweek-form-field-searchable  label {
  margin-right: 10px;
  text-transform: uppercase;
  width: 120px;
  text-align: right;
}

#codeweek-searchpage-component .codeweek-form-field.align-flex-start {
  align-items: flex-start;
}

.codeweek-form-field input {
  flex: 1;
  height: 57px;
  border: 1px solid #e8e8e8;
  border-radius: 29px;
  text-indent: 20px;
  width: 100%;
}

.codeweek-form-field textarea {
  flex: 1;
  border-radius: 29px;
  border: 1px solid #e8e8e8;
  text-indent: 20px;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  padding-top: 16px;
}

#codeweek-searchpage-component .codeweek-form-field label {
  margin-right: 10px;
  font-family: Blinker;
}

#codeweek-searchpage-component .codeweek-form-field.align-flex-start label {
  margin-top: 10px;
}

.codeweek-form .codeweek-input-select {
  flex: 1;
  height: 57px;
  width: auto;
  background-image: url("data:image/svg+xml;charset=US-ASCII, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23fe6824%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-position: right 1.8em top 50%, 0 0;
  font-weight: normal;
  border-color: #e8e8e8;
  color: $main-color3;
  text-indent: 8px;
  font-size: 14px;
  box-shadow: none;
  cursor: pointer;
}

#codeweek-searchpage-component .codeweek-form .multiselect-wrapper,
#codeweek-searchpage-component .codeweek-form .datepicker-wrapper,
#codeweek-searchpage-component .codeweek-form .input-tag-wrapper {
  flex: 1;
}

#codeweek-searchpage-component .codeweek-form .mx-datepicker .mx-input-icon {
  right: 20px;
}

.codeweek-form .codeweek-form-inner-container h3 {
  margin-bottom: 15px;
}

.codeweek-form .input-tag-wrapper {
  border: 1px solid #e8e8e8;
  border-radius: 29px;
}

#codeweek-searchpage-component .codeweek-form .input-tag-wrapper .vue-input-tag-wrapper {
  padding: 0;
  border: none;
  display: inline-table;
  width: 100%;
  background-color: transparent;
  margin: 10px 25px 0 25px;
  max-width: 90%;
}

.codeweek-form .input-tag-wrapper .vue-input-tag-wrapper input {
  padding: 0;
  margin: 0;
  height: 59px;
  text-indent: 0;
}

#codeweek-searchpage-component .codeweek-form .group-fields {
  flex: 1;
}

.codeweek-form-message {
  padding: 30px;
  background-color: #e8e8e8;
  border-radius: 20px;
  margin-top: 20px;
}

#codeweek-searchpage-component.codeweek-form-message .message {
  margin-bottom: 30px;
}

.login-form .codeweek-form-message .codeweek-form-field label {
  width: auto;
  text-align: left;
}

.login-form .codeweek-form-field-privacy,
.login-form .codeweek-form-field-checkbox {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 20px;
}

.codeweek-form-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.v-autocomplete {
  position: relative;
}
.v-autocomplete-list{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 6px;
  position: absolute;
  z-index: 100;
  width: 100%;
}
.v-autocomplete-input {
  width: 100%;
}

.v-autocomplete-list-item{
  padding:10px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.v-autocomplete-item-active{
  background-color: #EEEEEE;
}

.v-autocomplete-list-item .city{
  font-size:11px;
}

.v-autocomplete-list-item .name{
  font-weight: bold;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: 18px 25px;
  border-radius: 29px;
  background-color: $main-color;
  color: $main-color4;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
  background-color: #f15d22;
}

[type="file"]:focus + label {
  outline: 1px dotted #000;
}

.codeweek-user-avatar{
  display: flex;
}

.codeweek-user-avatar .name{
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.codeweek-user-avatar .avatar{
  display: flex;
}

.codeweek-user-avatar .avatar .codeweek-avatar-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #e8e8e8;
}

.codeweek-user-avatar .avatar .actions{
  display: flex;
  align-items: flex-end;
}

.codeweek-display-field{
  margin-bottom: 20px;
  p{
    padding: 5px;
  }
  ul{
    display: flex;
    margin: 15px 0;
    flex-wrap: wrap;
  }
  li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .itens .label{
    border: 1px solid $main-color;
    border-radius: 5px;
    padding: 10px;
    color: $main-color;
    font-size: 20px;
  }
  .share-event-wrapper{
    margin-top: 5px;
  }
}