.codeweek-searchbox{
  background-color: #E5E5E5;
  padding: 18px 30px;
}
.codeweek-searchbox .basic-fields{
  display: flex;
  flex-direction: row;
}
.codeweek-searchbox .advanced-fields .line{
  display:flex;
  flex-direction: column;
}
.codeweek-searchbox .advanced-fields .multiselect{
  margin-top: 18px;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
  .codeweek-searchbox {
    padding: 18px 60px;
  }
  .codeweek-searchbox .advanced-fields .line{
    flex-direction: row;
  }
  .codeweek-searchbox .multiselect {
    margin-right: 10px;
  }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
  .codeweek-searchbox {
    padding: 18px 100px;
  }
}