#main-content {
    padding-right: 20px;
    padding-left: 20px;
}

.errorlist {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
}

#view-event-map, #events-map {
    height: 100%;
}

#view-event-map img, #events-map img {
    max-width: none;
}

body .cweu-submenu {
    background-color: #08A0C4;
}

.country-name {
    font-size: 11px;
}

footer i:not(.fa-inverse) {
    color: #555;
}

footer a {
    color: #08a0c4;
}

footer {
    padding-top: 0px;
}

.list-style-none {
    list-style: none;
}


ul.nav.navbar-nav li a{
    color: #ffffff;
    font-size: 1em;
}

#page-menu nav li a {
    font-size: 16px;
}

.eventsm li a:hover .fa-circle, .eventsm li a:focus .fa-circle, .eventsm li a.active .fa-circle {
    color: #ff854e;
}

.eventsm .fa-stack .fa-circle {
    color: #478ac8;
    transition: all 0.3s linear 0s;
}
.eventsm li a.active .fa-circle {
    color: #ffbb34;
}
.eventsm li a:hover, .eventsm li a:focus, .eventsm li a.active {
    background-color: transparent;
    color: white;
}
.eventsm .dropdown-menu {
    background-color: #08a0c4;
    border: medium none;
    margin-top: 3px !important;
}
.eventsm li.open a, .eventsm li.open a:focus{
   background-color: #08a0c4;

}

.eventsm li.open a:hover {
    background-color: #478ac8;
}

.eventsm .avatar {
    padding: 15px 9px 9px;   
}
.eventsm .dropdown-menu li a {
    padding: 15px;
}

.usersm li.open a:hover {
    background-color: #478ac8;
}

#primary-menu ul li.active a {
    color: #08a0c4;
}



.team-image img {
    width: auto;
    margin: 0 auto;
}

.profile-menu li {
    width: 100%;
}
.profile-menu {
    height: auto !important;
}

#page-menu nav li, #page-menu nav li a{
    height: 100%;
}

form.inline {
    margin: 0;
    padding: 0;
    border: none;
    display: inline;
}

html{
    font-size:14px;
}

.menu-li-item{
    margin-left:5px;
}

.eventsm li a:hover .fa-circle, .eventsm li a:focus .fa-circle, .eventsm li a.active .fa-circle {
    color: #ff854e;
}

.fa-download, .fa-edit {
    color: #478ac8;
    transition: all 0.3s linear 0s;
}

.pending .thumbnail{
    height:410px;
}

.icon-facebook {
    color:#3b5998;
}

.icon-globe {
    color: #53984b;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;

}

/* Cookie Consent */

@media print {
    .cookie-consent-banner {
        display: none !important;
    }
}
.cookie-consent-banner {
    max-width: 944px;
    min-width: 200px;
    position: relative;
    z-index: 999;
    font-family: Arial,sans-serif;
    font-size: small;
    color: black;
    overflow: auto;
    text-align: left;

    background: #004494
}
.contrast .cookie-consent-banner {
    background: #000000;
    color: #FFFF00
}
.font-size-1 .cookie-consent-banner{
    font-size: small;
}
.font-size-2  .cookie-consent-banner{
    font-size: medium;
}
.font-size-3  .cookie-consent-banner{
    font-size: large;
}
#cookie-consent-banner h2{
    margin: 0;
    padding: 0;
    color: #fff !important;
    font-size: 150%;
    font-weight: normal;
    border: none;
}
.contrast .cookie-consent-banner h2{
    color: #FFFF00
}
.cookie-consent-banner p{
    color: #fff;
}
.contrast .cookie-consent-banner p{
    color: #FFFF00
}

#cookie-consent-banner .cookie-consent-inform a{
    color: #fff;
    text-decoration: underline !important
}
.contrast .cookie-consent-inform a{
    color: #00FFFF;
}
#cookie-consent-banner .cookie-consent-inform a:hover, .cookie-consent-inform a:active, .cookie-consent-inform a:focus{
    text-decoration: none;
}
#cookie-consent-banner .cookie-consent-inform a:visited{
    text-decoration: underline;
    color: #fff;
}
.contrast .cookie-consent-inform a:hover, .cookie-consent-inform a:active, .cookie-consent-inform a:focus{
    color: #00FFFF;
}

#cookie-consent-banner .cookie-consent-actions{
    float: left;
    margin-bottom: 5px;
    padding: 10px 0;
}
#cookie-consent-banner .cookie-consent-actions a{
    white-space: nowrap;
    text-decoration: none;
    background: #004494;
    padding: 10px 15px;
    border: 2px solid #fff;
    color: #fff;
}
.contrast .cookie-consent-actions a{
    color: #00FFFF;
    background: #000000;
    border: 0;
}
#cookie-consent-banner .cookie-consent-actions a:hover, .cookie-consent-actions a:active, .cookie-consent-actions a:focus{
    color: #fff;
    background: #002F67;
}
.contrast .cookie-consent-actions a:hover, .cookie-consent-actions a:active, .cookie-consent-actions a:focus{
    color: #fff;
    background: #000000;
    border: 0;
}
.cookie-consent-container{
    overflow: auto;
}









