#main-content {
    padding-right: 20px;
    padding-left: 20px;
}

.errorlist {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
}

#view-event-map, #events-map {
    height: 100%;
}

#view-event-map img, #events-map img {
    max-width: none;
}

body .cweu-submenu {
    background-color: #08A0C4;
}

.country-name {
    font-size: 11px;
}

footer i:not(.fa-inverse) {
    color: #555;
}

footer a {
    color: #08a0c4;
}

footer {
    padding-top: 0px;
}

.list-style-none {
    list-style: none;
}

#page-menu, #page-menu-wrap {

    height: auto;
}
ul.nav.navbar-nav li a{
    color: #ffffff;
    font-size: 1em;
}

#page-menu nav li a {
    font-size: 16px;
}

.eventsm li a:hover .fa-circle, .eventsm li a:focus .fa-circle, .eventsm li a.active .fa-circle {
    color: #ff854e;
}

.eventsm .fa-stack .fa-circle {
    color: #478ac8;
    transition: all 0.3s linear 0s;
}
.eventsm li a.active .fa-circle {
    color: #ffbb34;
}
.eventsm li a:hover, .eventsm li a:focus, .eventsm li a.active {
    background-color: transparent;
    color: white;
}
.eventsm .dropdown-menu {
    background-color: #08a0c4;
    border: medium none;
    margin-top: 3px !important;
}
.eventsm li.open a, .eventsm li.open a:focus{
   background-color: #08a0c4;

}

.eventsm li.open a:hover {
    background-color: #478ac8;
}

.eventsm .avatar {
    padding: 15px 9px 9px;   
}
.eventsm .dropdown-menu li a {
    padding: 15px;
}

.usersm li.open a:hover {
    background-color: #478ac8;
}

#primary-menu ul li.active a {
    color: #08a0c4;
}

.fancy-title h3 {
    background-color: #f9f9f9;

}

.team-image img {
    width: auto;
    margin: 0 auto;
}

.profile-menu li {
    width: 100%;
}
.profile-menu {
    height: auto !important;
}

#page-menu nav li, #page-menu nav li a{
    height: 100%;
}

form.inline {
    margin: 0;
    padding: 0;
    border: none;
    display: inline;
}
