<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="index,follow">

    <title>Listing Hub - Listing & Directory Template | ThemezHub</title>

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	
	<!-- Bootstrap Select Option css -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap-select.min.css">
	
    <!-- Icons -->
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="assets/plugins/themify-icons/css/themify-icons.css" rel="stylesheet">
	<link href="assets/plugins/line-icons/css/line-font.css" rel="stylesheet">
    
    <!-- Animate -->
    <link href="assets/plugins/animate/animate.css" rel="stylesheet">
    
    <!-- Bootsnav -->
    <link href="assets/plugins/bootstrap/css/bootsnav.css" rel="stylesheet">
    
    <!-- Custom style -->
    <link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/responsiveness.css" rel="stylesheet">
	<link href="assets/css/colors/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
	</head>
	<body class="home-2">
		<div class="wrapper">  
			<!-- Start Navigation -->
			<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">
				<div class="container-fluid">            
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="ti-align-left"></i>
					</button>
					
					<!-- Start Header Navigation -->
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html">
							<img src="assets/img/logo-white.png" class="logo logo-display" alt="">
							<img src="assets/img/logo.png" class="logo logo-scrolled" alt="">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar-menu">
						<ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
							<li class="dropdown">
								<a href="login.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>
								<ul class="dropdown-menu animated fadeOutUp">
									<li><a href="index.html">Home 1</a></li>
									<li><a href="index-2.html">Home 2</a></li>
									<li><a href="index-3.html">Home 3</a></li>
									<li><a href="index-4.html">Home 4</a></li>
									<li><a href="index-5.html">Home 5</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="login.html" class="dropdown-toggle" data-toggle="dropdown">Explore</a>
								<ul class="dropdown-menu animated fadeOutUp">
									<li><a href="add-listing.html">Add Listing</a></li>
									
									<li><a href="listing-detail.html">Listing Detail</a></li>
									
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Listing</a>
										<ul class="dropdown-menu animated fadeOutUp">
											<li><a href="full-width-grid.html">Full Width Listing</a></li>
											<li><a href="full-width-vertical.html">Full Vertical Listing</a></li>
											<li><a href="grid-sidebar.html">Listing With Sidebar</a></li>
											<li><a href="vertical-sidebar.html">Vertical With Sidebar</a></li>
											<li><a href="top-place-list.html">Top Places</a></li>
										</ul>
									</li>
									
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Category</a>
										<ul class="dropdown-menu animated fadeOutUp">
											<li><a href="category-1.html">Category Style 1</a></li>
											<li><a href="category-2.html">Category Style 2</a></li>
											<li><a href="category-3.html">Category Style 3</a></li>
										</ul>
									</li>
									
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">User Panel</a>
										<ul class="dropdown-menu animated fadeOutUp">
											<li><a href="edit-profile.html">Profile Settings</a></li>
											<li><a href="profile-detail.html">Profile Detail</a></li>
											<li><a href="manage-listing.html">Manage Listing</a></li>
											<li><a href="invoice.html">Check Invoice</a></li>
											<li><a href="create-pricing.html">Create Pricing</a></li>
										</ul>
									</li>
									
								</ul>
							</li>
							<li class="dropdown">
								<a href="login.html" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
								<ul class="dropdown-menu animated fadeOutUp">
									<li><a href="search-listing.html">Advance Search</a></li>
									<li><a href="payment-method.html">Payment Method</a></li>
									<li><a href="thank-you.html">Thank You</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="blog-detail.html">Blog Detail</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="component.html">Component</a></li>
									<li><a href="typography.html">Typography</a></li>
									<li><a href="pricing.html">Pricing</a></li>
									<li><a href="404.html">404</a></li>
									<li><a href="icons.html">Icons</a></li>
								</ul>
							</li>
							
							<li><a  href="javascript:void(0)"  data-toggle="modal" data-target="#signup">Sign In</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<li class="no-pd"><a href="add-listing.html" class="addlist"><i class="ti-user" aria-hidden="true"></i>Add Listing</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>   
			</nav>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- ================ Start Page Title ======================= -->
			<section class="title-transparent page-title" style="background:url(http://via.placeholder.com/1920x850);">
				<div class="container">
					<div class="title-content">
						<h1>Category 1</h1>
						<div class="breadcrumbs">
							<a href="#">Home</a>
							<span class="gt3_breadcrumb_divider"></span>
							<span class="current">Category 1</span>
						</div>
					</div>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ================ End Page Title ======================= -->
			
			<!-- ================ Start Category Style 1 ======================= -->
			<section>
				<div class="container">
					
					<!-- Single Category Item -->
					<div class="col-md-4 col-sm-6">
						<div class="category-box-full style-1">
							<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/1200x850" tabindex="0">
								<div class="category-box-content">
									<h3>Art & Design</h3>
									<span>70 listings</span>
								</div>
								<span class="category-box-btn">Browse</span>
								<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/1200x850);"></div>
							</a>
						</div>
					</div>
					
					<!-- Single Category Item -->
					<div class="col-md-4 col-sm-6">
						<div class="category-box-full style-1">
							<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/1200x850" tabindex="0">
								<div class="category-box-content">
									<h3>Education</h3>
									<span>40 listings</span>
								</div>
								<span class="category-box-btn">Browse</span>
								<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/1200x850);"></div>
							</a>
						</div>
					</div>
					
					<!-- Single Category Item -->
					<div class="col-md-4 col-sm-6">
						<div class="category-box-full style-1">
							<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/1200x850" tabindex="0">
								<div class="category-box-content">
									<h3>Documentary</h3>
									<span>110 listings</span>
								</div>
								<span class="category-box-btn">Browse</span>
								<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/1200x850);"></div>
							</a>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="category-box-full style-1">
							<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/1200x850" tabindex="0">
								<div class="category-box-content">
									<h3>Food & Restaurants</h3>
									<span>58 listings</span>
								</div>
								<span class="category-box-btn">Browse</span>
								<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/1200x850);"></div>
							</a>
						</div>
					</div>
					
					<!-- Single Category Item -->
					<div class="col-md-4 col-sm-6">
						<div class="category-box-full style-1">
							<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/1200x850" tabindex="0">
								<div class="category-box-content">
									<h3>Instructional</h3>
									<span>76 listings</span>
								</div>
								<span class="category-box-btn">Browse</span>
								<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/1200x850);"></div>
							</a>
						</div>
					</div>
					
					<!-- Single Category Item -->
					<div class="col-md-4 col-sm-6">
						<div class="category-box-full style-1">
							<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/1200x850" tabindex="0">
								<div class="category-box-content">
									<h3>Sport</h3>
									<span>92 listings</span>
								</div>
								<span class="category-box-btn">Browse</span>
								<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/1200x850);"></div>
							</a>
						</div>
					</div>
					
					<!-- Single Category Item -->
					<div class="col-md-4 col-sm-6">
						<div class="category-box-full style-1">
							<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/1200x850" tabindex="0">
								<div class="category-box-content">
									<h3>Business</h3>
									<span>87 listings</span>
								</div>
								<span class="category-box-btn">Browse</span>
								<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/1200x850);"></div>
							</a>
						</div>
					</div>
					
					<!-- Single Category Item -->
					<div class="col-md-4 col-sm-6">
						<div class="category-box-full style-1">
							<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/1200x850" tabindex="0">
								<div class="category-box-content">
									<h3>Shopping</h3>
									<span>240 listings</span>
								</div>
								<span class="category-box-btn">Browse</span>
								<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/1200x850);"></div>
							</a>
						</div>
					</div>
					
					<!-- Single Category Item -->
					<div class="col-md-4 col-sm-6">
						<div class="category-box-full style-1">
							<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/1200x850" tabindex="0">
								<div class="category-box-content">
									<h3>travel</h3>
									<span>68 listings</span>
								</div>
								<span class="category-box-btn">Browse</span>
								<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/1200x850);"></div>
							</a>
						</div>
					</div>

				</div>
			</section>
			<!-- ================ End Category Style 1 ======================= -->

			<!-- ================ Start Footer ======================= -->
			<footer class="footer dark-bg">
				<div class="row padd-0 mrg-0">
					<div class="footer-text">
						<div class="col-md-3 col-sm-12 theme-bg">
							<div class="footer-widget">
								<div class="textwidget">
								<h3 class="widgettitle widget-title">Get In Touch</h3>
								<p>7744 North Park Place<br>
								San Francisco, CA 714258</p>
								<p><strong>Email:</strong> support@listinghub.com</p>
								<p>
								<strong>Call:</strong> <a href="tel:+774422777">777-444-2222</a>
								</p>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-sm-4">
							<div class="footer-widget">
							<h3 class="widgettitle widget-title">About Us</h3>
							<ul class="footer-navigation">
								<li><a href="#">Home Version 1</a></li>
								<li><a href="#">Home Version 2</a></li>
								<li><a href="#">Home Version 3</a></li>
								<li><a href="#">Home Version 4</a></li>
								<li><a href="#">Listing Detail</a></li>
								<li><a href="#">Listing Vertical</a></li>
								<li><a href="#">Listing Sidebar</a></li>
								<li><a href="#">Vertical Sidebar</a></li>
							</ul>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="footer-widget">
								<h3 class="widgettitle widget-title">Connect Us</h3>
								<img src="assets/img/footer-logo.png" alt="Footer logo" class="img-responsive" />
								<ul class="footer-social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div> 
				<div class="footer-copyright">
					<p>Copyright@ 2017 Listing Hub Design By <a href="http://www.themezhub.com/" title="Themezhub" target="_blank">Themezhub</a></p>
				</div>
			</footer>
			<!-- ================ End Footer Section ======================= -->
			
			<!-- ================== Login & Sign Up Window ================== -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="tab" role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
								<li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content" id="myModalLabel2">
								<div role="tabpanel" class="tab-pane fade in active" id="login">
									<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<div class="subscribe wow fadeInUp">
										<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="login-btn" class="btn btn-midium theme-btn btn-radius width-200"> Login </button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane fade" id="register">
								<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<form class="form-inline" method="post">
										<div class="col-sm-12">
											<div class="form-group">
												<input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
												<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
												<input type="email"  name="email" class="form-control" placeholder="Username" required="">
												<input type="password" name="password" class="form-control"  placeholder="Password" required="">
												<div class="center">
												<button type="submit" id="subscribe" class="btn btn-midium theme-btn btn-radius width-200"> Create Account </button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>   
			<!-- ===================== End Login & Sign Up Window =========================== -->
			
			<a id="back2Top" class="theme-bg" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>

			
			<!-- START JAVASCRIPT -->
			<!-- Jquery js-->
			<script src="assets/js/jquery.min.js"></script>
			
			<!-- Bootstrap js-->
			<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
			
			<!-- Bootsnav js-->
			<script src="assets/plugins/bootstrap/js/bootsnav.js"></script>
			<script src="assets/js/viewportchecker.js"></script>
			
			<!-- Slick Slider js-->
			<script src="assets/plugins/slick-slider/slick.js"></script>
			
			<!-- counter js-->
			<script src="assets/plugins/jquery-counter/js/waypoints.min.js"></script>
            <script src="assets/plugins/jquery-counter/js/jquery.counterup.min.js"></script>
			
			<!-- Custom Js -->
			<script src="assets/js/custom.js"></script>
			
		</div>
	</body>
</html>