<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="index,follow">

    <title>Listing Hub - Listing & Directory Template | ThemezHub</title>

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	
	<!-- Bootstrap Select Option css -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap-select.min.css">
	
    <!-- Icons -->
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="assets/plugins/themify-icons/css/themify-icons.css" rel="stylesheet">
	<link href="assets/plugins/line-icons/css/line-font.css" rel="stylesheet">
    
    <!-- Animate -->
    <link href="assets/plugins/animate/animate.css" rel="stylesheet">
    
    <!-- Bootsnav -->
    <link href="assets/plugins/bootstrap/css/bootsnav.css" rel="stylesheet">
	
	<!-- Slick Slider -->
    <link href="assets/plugins/slick-slider/slick.css" rel="stylesheet">
    
    <!-- Custom style -->
    <link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/responsiveness.css" rel="stylesheet">
	<link href="assets/css/colors/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
	</head>
	<body>
		<div class="wrapper">  
			<!-- Start Navigation -->
			<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">
				<div class="container">            
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="ti-align-left"></i>
					</button>
					
					<!-- Start Header Navigation -->
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html">
							<img src="assets/img/logo.png" class="logo logo-display" alt="">
							<img src="assets/img/logo.png" class="logo logo-scrolled" alt="">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar-menu">
						<ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
							<li class="dropdown">
								<a href="login.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>
								<ul class="dropdown-menu animated fadeOutUp">
									<li><a href="index.html">Home 1</a></li>
									<li><a href="index-2.html">Home 2</a></li>
									<li><a href="index-3.html">Home 3</a></li>
									<li><a href="index-4.html">Home 4</a></li>
									<li><a href="index-5.html">Home 5</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="login.html" class="dropdown-toggle" data-toggle="dropdown">Explore</a>
								<ul class="dropdown-menu animated fadeOutUp">
									<li><a href="add-listing.html">Add Listing</a></li>
									
									<li><a href="listing-detail.html">Listing Detail</a></li>
									
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Listing</a>
										<ul class="dropdown-menu animated fadeOutUp">
											<li><a href="full-width-grid.html">Full Width Listing</a></li>
											<li><a href="full-width-vertical.html">Full Vertical Listing</a></li>
											<li><a href="grid-sidebar.html">Listing With Sidebar</a></li>
											<li><a href="vertical-sidebar.html">Vertical With Sidebar</a></li>
											<li><a href="top-place-list.html">Top Places</a></li>
										</ul>
									</li>
									
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Category</a>
										<ul class="dropdown-menu animated fadeOutUp">
											<li><a href="category-1.html">Category Style 1</a></li>
											<li><a href="category-2.html">Category Style 2</a></li>
											<li><a href="category-3.html">Category Style 3</a></li>
										</ul>
									</li>
									
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">User Panel</a>
										<ul class="dropdown-menu animated fadeOutUp">
											<li><a href="edit-profile.html">Profile Settings</a></li>
											<li><a href="profile-detail.html">Profile Detail</a></li>
											<li><a href="manage-listing.html">Manage Listing</a></li>
											<li><a href="invoice.html">Check Invoice</a></li>
											<li><a href="create-pricing.html">Create Pricing</a></li>
										</ul>
									</li>
									
								</ul>
							</li>
							<li class="dropdown">
								<a href="login.html" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
								<ul class="dropdown-menu animated fadeOutUp">
									<li><a href="search-listing.html">Advance Search</a></li>
									<li><a href="payment-method.html">Payment Method</a></li>
									<li><a href="thank-you.html">Thank You</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="blog-detail.html">Blog Detail</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="component.html">Component</a></li>
									<li><a href="typography.html">Typography</a></li>
									<li><a href="pricing.html">Pricing</a></li>
									<li><a href="404.html">404</a></li>
									<li><a href="icons.html">Icons</a></li>
								</ul>
							</li>
							
							<li><a  href="javascript:void(0)"  data-toggle="modal" data-target="#signup">Sign In</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<li class="no-pd"><a href="add-listing.html" class="addlist"><i class="ti-user" aria-hidden="true"></i>Add Listing</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>   
			</nav>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- Main Banner Section Start -->
			<section class="home-map">  
				<div id="home-map"></div>
				
				<div class="search-inner">
					<div class="container">
						<form class="form-verticle">
							<div class="col-md-4 col-sm-4 no-padd">
								<input type="text" class="form-control left-radius right-br" placeholder="Keywords..">
							</div>
							<div class="col-md-3 col-sm-3 no-padd">
								<input type="text" class="form-control right-br" placeholder="Location..">

							</div>
							<div class="col-md-3 col-sm-3 no-padd">
								<select class="selectpicker form-control" data-live-search="true">
								  <option data-tokens="ketchup mustard">Choose Category</option>
								  <option data-tokens="mustard">Burger, Shake and a Smile</option>
								  <option data-tokens="frosting">Sugar, Spice and all things nice</option>
								</select>
							</div>
							<div class="col-md-2 col-sm-2 no-padd">
								<button type="button" class="btn theme-btn btn-default height-50 full-width">Search</button>
							</div>
						</form>
					</div>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Home Map End -->
			
			<!-- Popular Listing Section -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
						<div class="heading">
							<h2>Top & Popular <span>Listings</span></h2>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
						</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="listing-shot grid-style">
								<a href="#">
									<div class="listing-shot-img">
										<img src="http://via.placeholder.com/800x800" class="img-responsive" alt="">
										<span class="like-listing"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
									</div>
									<div class="listing-shot-caption">
										<h4>Art & Design</h4>
										<p class="listing-location">Bishop Avenue, New York</p>
									</div>
								</a>
								<div class="listing-shot-info">
									<div class="row extra">
										<div class="col-md-12">
											<div class="listing-detail-info">
												<span><i class="fa fa-phone" aria-hidden="true"></i> 807-502-5867</span>
												<span><i class="fa fa-globe" aria-hidden="true"></i> www.mysitelink.com</span>
											</div>
										</div>
									</div>
								</div>
								<div class="listing-shot-info rating">
									<div class="row extra">
										<div class="col-md-7 col-sm-7 col-xs-6">
											<i class="color fa fa-star" aria-hidden="true"></i>
											<i class="color fa fa-star" aria-hidden="true"></i>
											<i class="color fa fa-star" aria-hidden="true"></i>
											<i class="color fa fa-star-half-o" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
										<div class="col-md-5 col-sm-5 col-xs-6 pull-right">
											<a href="#" class="detail-link">Open Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="listing-shot grid-style">
								<a href="#">
									<div class="listing-shot-img">
										<img src="http://via.placeholder.com/800x800" class="img-responsive" alt="">
										<span class="like-listing"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
									</div>
									<div class="listing-shot-caption">
										<h4>Education</h4>
										<p class="listing-location">Bishop Avenue, New York</p>
									</div>
								</a>
								<div class="listing-shot-info">
									<div class="row extra">
										<div class="col-md-12">
											<div class="listing-detail-info">
												<span><i class="fa fa-phone" aria-hidden="true"></i> 807-502-5867</span>
												<span><i class="fa fa-globe" aria-hidden="true"></i> www.mysitelink.com</span>
											</div>
										</div>
									</div>
								</div>
								<div class="listing-shot-info rating">
									<div class="row extra">
										<div class="col-md-7 col-sm-7 col-xs-6">
											<i class="color fa fa-star" aria-hidden="true"></i>
											<i class="color fa fa-star" aria-hidden="true"></i>
											<i class="color fa fa-star" aria-hidden="true"></i>
											<i class="color fa fa-star-half-o" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
										<div class="col-md-5 col-sm-5 col-xs-6 pull-right">
											<a href="#" class="detail-link">Open Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="listing-shot grid-style">
								<a href="#">
									<div class="listing-shot-img">
										<img src="http://via.placeholder.com/800x800" class="img-responsive" alt="">
										<span class="like-listing"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
									</div>
									<div class="listing-shot-caption">
										<h4>Documentary</h4>
										<p class="listing-location">Bishop Avenue, New York</p>
									</div>
								</a>
								<div class="listing-shot-info">
									<div class="row extra">
										<div class="col-md-12">
											<div class="listing-detail-info">
												<span><i class="fa fa-phone" aria-hidden="true"></i> 807-502-5867</span>
												<span><i class="fa fa-globe" aria-hidden="true"></i> www.mysitelink.com</span>
											</div>
										</div>
									</div>
								</div>
								<div class="listing-shot-info rating">
									<div class="row extra">
										<div class="col-md-7 col-sm-7 col-xs-6">
											<i class="color fa fa-star" aria-hidden="true"></i>
											<i class="color fa fa-star" aria-hidden="true"></i>
											<i class="color fa fa-star" aria-hidden="true"></i>
											<i class="color fa fa-star-half-o" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
										<div class="col-md-5 col-sm-5 col-xs-6 pull-right">
											<a href="#" class="detail-link">Open Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Popular Listing Section -->
			
			<!-- Counter Section -->
			<section class="company-state theme-overlap" style="background:url(http://via.placeholder.com/1920x800);">
				<div class="container-fluid">
					<div class="col-md-3 col-sm-6">
						<div class="work-count">
							<span class="theme-cl icon icon-trophy"></span>
							<span class="counter">200</span> <span class="counter-incr">+</span>
							<p>Awards Winning</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="work-count">
							<span class="theme-cl icon icon-layers"></span>
							<span class="counter">307</span> <span class="counter-incr">+</span>
							<p>Done Projects</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="work-count">
							<span class="theme-cl icon icon-happy"></span>
							<span class="counter">700</span> <span class="counter-incr">+</span>
							<p>Happy Clients</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="work-count">
							<span class="theme-cl icon icon-dial"></span>
							<span class="counter">770</span> <span class="counter-incr">+</span>
							<p>Cups Of Cofee</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End Counter Section -->
			
			<!-- Popular Categories Section -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
						<div class="heading">
							<h2>Most Popular <span>Categories</span></h2>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
						</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="category-box-full style-1">
								<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/800x800" tabindex="0">
									<div class="category-box-content">
										<h3>Art & Design</h3>
										<span>70 listings</span>
									</div>
									<span class="category-box-btn">Browse</span>
									<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/800x800);"></div>
								</a>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="category-box-full style-1">
								<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/800x800" tabindex="0">
									<div class="category-box-content">
										<h3>Education</h3>
										<span>40 listings</span>
									</div>
									<span class="category-box-btn">Browse</span>
									<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/800x800);"></div>
								</a>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="category-box-full style-1">
								<a href="#" class="category-boxs" data-background-image="http://via.placeholder.com/800x800" tabindex="0">
									<div class="category-box-content">
										<h3>Documentary</h3>
										<span>110 listings</span>
									</div>
									<span class="category-box-btn">Browse</span>
									<div class="category-box-bg" style="background-image: url(http://via.placeholder.com/800x800);"></div>
								</a>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- End Popular Categories Section -->
			
			<!-- Testimonial Section -->
			<section class="testimonial-1 theme-overlap" style="background:url(http://via.placeholder.com/1920x850);">
				<div class="container">
					<div class="row">
						<div id="testimonial-1" class="slick-carousel">
							<div class="testimonial-detail">
								<div class="pic">
									<img src="http://via.placeholder.com/80x80" alt="">
								</div>
								<p class="user-description">
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi
								</p>
								<h3 class="user-testimonial-title">Sagar Singh</h3>
								<span class="user-post">Web Developer</span>
							</div>

							<div class="testimonial-detail">
								<div class="pic">
									<img src="http://via.placeholder.com/80x80g" alt="">
								</div>
								<p class="user-description">
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi
								</p>
								<h3 class="user-testimonial-title">Kriti Singh</h3>
								<span class="user-post">Project Manager</span>
							</div>
							
							<div class="testimonial-detail">
								<div class="pic">
									<img src="http://via.placeholder.com/80x80" alt="">
								</div>
								<p class="user-description">
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi
								</p>
								<h3 class="user-testimonial-title">RIval Glarion</h3>
								<span class="user-post">Owner</span>
							</div>
							
							<div class="testimonial-detail">
								<div class="pic">
									<img src="http://via.placeholder.com/80x80" alt="">
								</div>
								<p class="user-description">
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi
								</p>
								<h3 class="user-testimonial-title">Mike hussy</h3>
								<span class="user-post">IOS Developer</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Testimonial Section -->
			
			<!-- Start Pricing -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
						<div class="heading">
							<h2>Our Best <span>Packages</span></h2>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
						</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="package-box">
								<div class="package-header">
									<i class="fa fa-cog" aria-hidden="true"></i>
									<h3>Professional</h3>
								</div>
								<div class="package-price">
									<h2><sup>$ </sup>10<sub>/Month</sub></h2>
								</div>
								<div class="package-info">
									<ul>
									<li>3 Designs</li>
									<li>3 PSD Designs</li>
									<li>4 color Option</li>
									<li>10GB Disk Space</li>
									<li>Full Support</li>
									</ul>
								</div>
								<button type="submit" class="btn btn-package">Sign Up</button>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-4">
							<div class="active package-box">
								<div class="package-header">
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
									<h3>Standard</h3>
								</div>
								<div class="package-price">
									<h2><sup>$ </sup>110<sub>/Month</sub></h2>
								</div>
								<div class="package-info">
									<ul>
									<li>3 Designs</li>
									<li>3 PSD Designs</li>
									<li>4 color Option</li>
									<li>10GB Disk Space</li>
									<li>Full Support</li>
									</ul>
								</div>
								<button type="submit" class="btn btn-package">Sign Up</button>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-4">
							<div class="package-box">
								<div class="package-header">
									<i class="fa fa-cube" aria-hidden="true"></i>
									<h3>Premium</h3>
								</div>
								<div class="package-price">
									<h2><sup>$ </sup>170<sub>/Month</sub></h2>
								</div>
								<div class="package-info">
									<ul>
									<li>3 Designs</li>
									<li>3 PSD Designs</li>
									<li>4 color Option</li>
									<li>10GB Disk Space</li>
									<li>Full Support</li>
									</ul>
								</div>
								<button type="submit" class="btn btn-package">Sign Up</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Pricing Section -->
			
			<!-- ================ Start Footer ======================= -->
			<footer class="footer dark-bg">
				<div class="row padd-0 mrg-0">
					<div class="footer-text">
						<div class="col-md-3 col-sm-12 theme-bg">
							<div class="footer-widget">
								<div class="textwidget">
								<h3 class="widgettitle widget-title">Get In Touch</h3>
								<p>7744 North Park Place<br>
								San Francisco, CA 714258</p>
								<p><strong>Email:</strong> support@listinghub.com</p>
								<p>
								<strong>Call:</strong> <a href="tel:+774422777">777-444-2222</a>
								</p>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-sm-4">
							<div class="footer-widget">
							<h3 class="widgettitle widget-title">About Us</h3>
							<ul class="footer-navigation">
								<li><a href="#">Home Version 1</a></li>
								<li><a href="#">Home Version 2</a></li>
								<li><a href="#">Home Version 3</a></li>
								<li><a href="#">Home Version 4</a></li>
								<li><a href="#">Listing Detail</a></li>
								<li><a href="#">Listing Vertical</a></li>
								<li><a href="#">Listing Sidebar</a></li>
								<li><a href="#">Vertical Sidebar</a></li>
							</ul>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="footer-widget">
								<h3 class="widgettitle widget-title">Connect Us</h3>
								<img src="assets/img/footer-logo.png" alt="Footer logo" class="img-responsive" />
								<ul class="footer-social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div> 
				<div class="footer-copyright">
					<p>Copyright@ 2017 Listing Hub Design By <a href="http://www.themezhub.com/" title="Themezhub" target="_blank">Themezhub</a></p>
				</div>
			</footer>
			<!-- ================ End Footer Section ======================= -->
			
			<!-- ================== Login & Sign Up Window ================== -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="tab" role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
								<li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content" id="myModalLabel2">
								<div role="tabpanel" class="tab-pane fade in active" id="login">
									<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<div class="subscribe wow fadeInUp">
										<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="login-btn" class="btn btn-midium theme-btn btn-radius width-200"> Login </button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane fade" id="register">
								<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<form class="form-inline" method="post">
										<div class="col-sm-12">
											<div class="form-group">
												<input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
												<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
												<input type="email"  name="email" class="form-control" placeholder="Username" required="">
												<input type="password" name="password" class="form-control"  placeholder="Password" required="">
												<div class="center">
												<button type="submit" id="subscribe" class="btn btn-midium theme-btn btn-radius width-200"> Create Account </button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>   
			<!-- ===================== End Login & Sign Up Window =========================== -->
			
			<a id="back2Top" class="theme-bg" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>

			
			<!-- START JAVASCRIPT -->
			<!-- Jquery js-->
			<script src="assets/js/jquery.min.js"></script>
			
			<!-- Bootstrap js-->
			<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
			
			<!-- Bootsnav js-->
			<script src="assets/plugins/bootstrap/js/bootsnav.js"></script>
			<script src="assets/js/viewportchecker.js"></script>
			
			<!-- bootstrap Select js-->
			<script src="assets/plugins/bootstrap/js/bootstrap-select.min.js"></script>
			
			<!-- Slick Slider js-->
			<script src="assets/plugins/slick-slider/slick.js"></script>
			
			<!-- counter js-->
			<script src="assets/plugins/jquery-counter/js/waypoints.min.js"></script>
            <script src="assets/plugins/jquery-counter/js/jquery.counterup.min.js"></script>
			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="></script>
			<script type="text/javascript" src="assets/js/custom-maps.js"></script>
			
			<!-- Custom Js -->
			<script src="assets/js/custom.js"></script>
			
		</div>
	</body>
</html>