// Body
$body-bg: #f5f8fa;
$body-font-family: "PT Sans";
$body-font-size: 16px;
$body-line-height: 2;

//Colors
$main-color: #FE6824;
$main-color2: #40B5D1;
$main-color3: #000000;

$category-color1: #CE80A7;
$category-color2: #F5B742;
$category-color3: #8DCECE;
$category-color4: #8E90B5;
$category-color5: #72A8D0;

$category-background1: #F7E9F0;
$category-background1: #FDF2DB;
$category-background1: #DEF1F1;
$category-background1: #EBEBF0;
$category-background1: #DEEBF4;


// Typography
$font-family-sans-serif: "PT Sans", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
