@tailwind preflight;

@tailwind components;

@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');


@font-face {
  font-family: 'OCR A Std';
  src: URL('/fonts/OCR A Std Regular.ttf') format('truetype');
}

// Variables
@import "variables";


// Import components area
@import "header";
@import "homepage";


// General classes

body{
  font-family: $body-font-family;
}
.show {
  display: block!important;
}

.hide {
  display: none!important;
}

.show-flex {
  display: flex!important;
}

.button-hover{
  background-color: $main-color !important;
  color: $main-color4 !important;
}