// Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

@font-face {
  font-family: 'OCR A Std';
  src: URL('/fonts/OCR A Std Regular.ttf') format('truetype');
}

// Variables
@import "variables";


// Import components
@import "components/header";
@import "components/footer";
@import "components/banner";
@import "components/searchbox";
@import "components/forms";
@import "components/buttons";
@import "components/cardgroup";

//Import pages
@import "pages/homepage";
@import "pages/activities";
@import "pages/resources";
@import "pages/about";

// General classes

body{
  margin:0;
  font-family: $body-font-family;
  background-color: #EEEEEE;
}
a{
  color: $main-color2;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
input {
  margin: 0;
  line-height: 1.15;
  border: 0;
  font-family: inherit;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, p, pre {
  margin: 0;
}
button{
  cursor: pointer;
  background-color: transparent;
}
h1 {
  color: $main-color;
  font-weight: bold;
  font-size: 28px;
}
.show {
  display: block!important;
}

.hide {
  display: none!important;
}

.show-flex {
  display: flex!important;
}

.button-hover{
  background-color: $main-color !important;
  color: $main-color4 !important;
}

main{
  margin-left:auto;
  margin-right:auto;
  max-width: 1280px;
  background-color: $main-color4;
}

.codeweek-content-wrapper{
  width: auto;
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*Media queries*/

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
  h1 {
    font-size: 35px;
  }
  .codeweek-content-wrapper{
    margin: 40px 60px 0 60px;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
  h1 {
    font-size: 40px;
  }
  .codeweek-content-wrapper{
    margin: 50px 100px 0 100px;
  }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
}