@tailwind preflight;

@tailwind components;

@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');


@font-face {
  font-family: 'OCR A Std';
  src: URL('/fonts/OCR A Std Regular.ttf') format('truetype');
}

// Variables
@import "variables";


// Import components area
@import "header";
@import "homepage";
@import "footer";


// General classes

body{
  font-family: $body-font-family;
}
.show {
  display: block!important;
}

.hide {
  display: none!important;
}

.show-flex {
  display: flex!important;
}

.button-hover{
  background-color: $main-color !important;
  color: $main-color4 !important;
}

#content{
  margin-left:auto;
  margin-right:auto;
  max-width: 1280px;
}


/*Media queries*/

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {

}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {

}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {

}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {

}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}
/* hi-res laptops and desktops */
@media (min-width:1281px) {

}
