:lang(el) header nav ul li a {
  font-size: 17px;
}
:lang(de) header nav ul li a,
:lang(fr) header nav ul li a,
:lang(nl) header nav ul li a{
  font-size: 18px;
}


/*Media queries*/

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {

}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {

}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
  :lang(bg),
  :lang(de){
    #main-banner .info .when .date {
      font-size: 30px;
    }
    #main-banner .info .when .arrow {
      margin-top:30px;
    }
  }
  :lang(el),
  :lang(hu),
  :lang(it),
  :lang(me),
  :lang(mk),
  :lang(nl),
  :lang(ro){
    #main-banner .info .when .date {
      font-size: 30px;
    }
  }
  :lang(es),
  :lang(pl){
    #main-banner .info .when .date {
      font-size: 25px;
    }
  }
}