.cls-1{
    fill:#fff;
}
.cls-2{
    fill:#f39753;
}
.cls-3,.cls-4{
    fill:#ea5d34;
}
.cls-4{
    font-size:52px;
    font-family:ECSquareSansPro-Bold,EC Square Sans Pro;
}
.cls-5{
    font-weight:700;
}
.cls-6{
    font-family:ECSquareSansPro-Italic, EC Square Sans Pro;
    font-style:italic;
}
.cls-7{
    letter-spacing:-0.02em;
}.cls-8{letter-spacing:-0.02em;}.cls-9{letter-spacing:0em;}.cls-10{opacity:0.71;}.cls-11{fill:#f0874f;}.cls-12{fill:#ee7f4e;}.cls-13{fill:#e44225;}.cls-14{fill:#e54725;}.cls-15{fill:#eb71a6;}.cls-16{fill:#ffd552;}.cls-17{fill:#f1944c;}.cls-18{fill:#e64d25;}.cls-19{fill:#ed737d;}.cls-20{fill:#e63381;}.cls-21{fill:#ec739d;}.cls-22{fill:#eb607d;}.cls-23{fill:#f6ac4f;}.cls-24{fill:#eb75a4;}.cls-25{fill:#e7347e;}.cls-26{fill:#ea73a8;}.cls-27{fill:#e52c6c;}.cls-28{fill:#e62e47;}.cls-29{fill:#e9629d;}.cls-30{fill:#e62a87;}.cls-31{fill:#e64f25;}.cls-32{fill:#ec6a4a;}.cls-33{fill:#e43e25;}.cls-34{fill:#e6332e;}.cls-35{fill:#e52e2e;}.cls-36{fill:#e11f26;}.cls-37{fill:#e43825;}.cls-38{fill:#eb78ab;}.cls-39{fill:#ec7491;}.cls-40{fill:#f6dc55;}.cls-41{fill:#f1d311;}.cls-42{fill:#ae599d;}.cls-43{fill:#ae2a86;}.cls-44{fill:#675ba4;}.cls-45{fill:#6a70b3;}.cls-46{fill:#42378c;}.cls-47{fill:#84cef2;}.cls-48{fill:#86cff2;}.cls-49{fill:#ed734b;}.cls-50{fill:#e43525;}.cls-51,.cls-52{fill:none;stroke:#fff;stroke-width:2px;}.cls-52{stroke-miterlimit:10;}