name: Laravel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest
    name: Tests
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ~/.composer/cache/files
        key: dependencies-composer-${{ hashFiles('composer.json') }}

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 7.4
        extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd, intl
        coverage: none
      env:
        COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"

    - name: Delete composer.json
      run: rm composer.json

    - name: Copy composer test file
      run: cp composer-test.json composer.json

    - name: Install Composer dependencies
      run: composer install --prefer-dist --no-interaction --no-suggest

    - name: Generate key
      run: php artisan key:generate

    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache

    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite

    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        APP_ENV: testing
        BCRYPT_ROUNDS: 4
        CACHE_DRIVER: array
        DB_CONNECTION: sqlite
        DB_DATABASE: memory
        QUEUE_CONNECTION: sync
        SESSION_DRIVER: array
        CAS_MASQUERADE: demouol
      run: php artisan test
